// Background colors
.bg-dark {
    background-color: #111418;
}

.bg-dark-1 {
    background-color: #212529;
}

.bg-dark-2 {
    background-color: #343a40;
}


// Main colors

$slate-purple: hsl(250, 8%, 45%);

$input-color: hsl(250, 70%, 96%);
$body-color: hsl(250, 60%, 99%);
$white: #fff;
$scroll-bar-color: hsl(250, 12%, 90%);
$scroll-thumb-color: hsl(250, 12%, 80%);

$heading-font-color: #eaeaeb;
$nav-font-color: #ced3d8;
$nav-font-color-i: #b5bbc2;

$primary-clr: #20c997;
$darker-primary-clr: #1f9e78;
$secondary-clr: #b6b6b9;
$teritary-clr: #dadee2;

$paragraph-clr: hsla(0,0%,100%,.5);

$mild-dark-gray: #6c757d;
$dark-gray: #3d3d3f;


